* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.type-3100 .form-report {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.type-3100 .form-report label {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 5px;
}
.type-3100 .form-report label input {
  min-width: 100%;
  background: none;
  border: none;
  outline: none;
}
.type-3100 .form-report textarea {
  width: 100%;
  background: #f9f9f9;
  border: none;
  padding: 20px;
  border-radius: 5px;
}
.type-3100 .form-report .btn-send {
  padding: 20px;
  background: #fc5404;
  color: #fff;
  border: none;
  transition: .5s;
}
.type-3100 .form-report .btn-send:hover {
  border-radius: 100px;
  background: black;
}
.type-3100 .form-report2 {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: none;
  padding: 50px;
}
.type-3100 i {
  color: #fc5404;
  line-height: 50px;
  height: 50px;
  border: 2px;
  text-align: center;
  margin-right: 10px;
}
.type-3100 h3 {
  font-weight: bold;
  margin: 0 0 10px 0;
}
.type-3100 h5 {
  margin: 0;
}
.type-3100 a:hover {
  color: #fc5404;
}
.type-3100 a {
  color: black;
  border: none;
  text-decoration: none;
  transition: all .5s;
}
.type-3100 .time-open,
.type-3100 .time-close {
  display: flex;
  justify-content: space-between;
}
.type-3100 .time-open {
  margin-bottom: 10px;
}
