* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.type-3215 {
    .header {
        background-image: url(../image/hinh1.jpg);
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;

        .header-top {
            display: flex;


            .logo {
                img {
                    width: 86px;
                }

            }

            .nav {
                margin-left: 30px;
                padding-top: 20px;
                font-family: "Crimson Pro", serif;
                display: flex;

                a {
                    font-size: 21px;
                    line-height: 1.4em;
                    font-style: italic;
                    font-weight: 500;
                    color: #fff;
                }
            }

            .user {
                padding-left: 200px;
                padding-top: 30px;
                color: #fff;
                font-size: 15px;
                display: flex;
                margin-left: 300px;

                    a {
                    padding-left: 5px;
                    color: #fff;
                    text-decoration: none;
                        &:hover{
                            color:green;
                            transition: .5s;
                        }
                    }
                    &:hover{
                        color: green;
                        transition: .5s;
                    }  
            } 
            }
           
            .menu-short{
                margin-left: 15px;
                padding: 50px;
                color: #fff;
                font-size: 30px;
                background: #000;
                width: 86px;
                height: 86px;
                display: flex;
                align-items: center;
                justify-content: center;    
                cursor: pointer;
                transition: .5s;
                &:hover{
                    color: green;
                   
                }
            }
        }

        .haha {
            color: #fff;
            font-family: "Crimson Pro", serif;
            padding-left: 150px;

            h5 {
                font-size: 20px;
            }

            span {
                color: #fff;
                font-family: montserrat, Sans-serif;
                font-size: 80px;
                font-weight: 600;
                line-height: 88px;
                letter-spacing: -.39px;
            }
        }

        .luachon {
            margin-top: 20px;
           justify-content: center;
          display: flex;
          gap: 3rem;
    
            select {
               
                height: 55px;
                padding: 10px 60px;
                background-color: #fff;
                font-size: 16px;
                border: none;
                justify-content: space-between;
              
            }
            button{
                background: #000;
                color: #fff;
                font-size: 16px;
                padding: 20px 50px;
                height: 55px;
                position: relative;
            }
            .arrow {
                position: absolute;
                transition: transform 0.3s;
                transform: translateX(5px);
            }
            button:hover .arrow {
                transform: translateX(10px);
            }



        }
    }









.image {
    text-align: center;
    width: 50%;
    height: 50%;

}